# URL backend API
# Development: http://localhost:3000/api
# Production:  https://api.gudangkartu.com/api
VITE_API_URL=http://localhost:3000/api

# URL storefront (untuk link "Ke Storefront")
# Development: http://localhost:5173
# Production:  https://gudangkartu.com
VITE_STOREFRONT_URL=http://localhost:5173